@charset "utf-8";
/* CSS Document */

body{
	background-color:#131212
	
	
}

.navbar{
	border:none;
	height:9%;
}



.carousel{
	
	margin-bottom:2%;
}
	

#myCarousel h1{

font-size:60px;
font-family:century gothic;

}

#myCarousel li{
	background-color:#D3400F;
	border-color:#D3400F;
}

#round img{
	margin-left:100%;
	margin-top:50%;
	margin-bottom:10%;

	
}

.row{
	margin-top:10%;
}

.page-header{
	color:#D3400F;
}

.embed-responsive{
	margin-top:5%;
	margin-bottom:5%;
	}
	
	    .header {
        color: #D3400F;
        font-size: 30px;
        padding: 10px;
    }

    .bigicon {
        font-size: 35px;
        color: #D3400F;
    }
	

